#container{
    background-color: rgb(0, 242, 250);
    margin: auto;
    border: 1px solid black;
    width: 1300px;
    height: 800px;

}
h1{
    text-align: center;
    border: 1px solid green;
}
#nav{
    text-align: center;
    border: 1px solid red;

}
.nav-list{
    list-style: none;
    display: inline;
    text-align: center;
    padding-left: 20px;
    

}
#footer{
    margin-bottom: auto;
    width: 1500px;
    height: 150px;
    border-color:1px solid orange;
}